.wrapper {
    .heading {
        display: flex;
        align-items: center;
        height: 51px;
        cursor: default;
        width: 80%;
        padding-bottom: 6px;

        svg {
            height: 24px;
        }

        h3 {
            height: 24px;
            margin-left: 10px;
        }
        border-bottom: 1px solid #ccc;
    }

    .content {
        padding-top: 10px;
        .item {
            padding-left: 10px;

            button {
                padding: 10px 0;
                width: 100%;
                height: 2100%;
                display: block;
                text-align: start;
                border: none;
                background-color: transparent;

                &:hover {
                    color: #ee4d2d;
                    cursor: pointer;
                }

                svg {
                    margin-right: 4px;
                    font-size: 14px;
                }
            }

            .active {
                color: #ee4d2d;
            }
        }
    }
}
