.wrapper {
    background-color: #f5f5f5;
    width: 100%;
    min-height: 350px;
    // display: flex;
    // align-items: center;
    border-radius: 3px;
    position: relative;
}

.no-login {
    min-height: 350px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .img-no-logn {
        margin-top: auto;
    }

    img {
        width: 100px;
        height: 100%;
    }

    p {
        margin-top: 6px;
        color: #000;
    }

    .no-login-conect-login {
        height: 40px;
        justify-content: flex-end;
        margin-top: auto;

        .no-login-conect-login-btn {
            height: 100%;
            width: 50%;
            border: none;
            background-color: #f5f5f5;

            &:hover {
                color: #ee4d2d;
                background-color: #e8e8e8;
            }
        }
    }
}
